<!DOCTYPE html>
<html>
  <head>
    <title>Interview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
    <%= javascript_include_tag 'application', defer: true %>
  </head>

  <body>
    <%= yield %>
    <%= yield :packs %>
  </body>
</html>
